<ion-header>
  <ion-navbar>
    <ion-title>
      My Music
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>
  
      <button ion-button full round color="secondary" (click)="goToMusic()">Enviar</button>
</ion-content> 
