<!--
  Generated template for the AdicionarMusicaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Música</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list no-lines>
        <ion-item *ngFor="let m of musica">
          <h2>{{m.nome}}</h2>
          <p>{{m.artista}}</p>
          
          <button ion-button item-end>
              <ion-icon name="trash"></ion-icon>
          </button> 
        </ion-item>
    </ion-list>
</ion-content>
