<!--
  Generated template for the MusicaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>User</ion-title>
    <ion-buttons end>
        <button ion-button (click)="adicionarMusica()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-list no-lines>
        <ion-item *ngFor="let m of musica">
          <h2>{{m.nome}}</h2>
          <p>{{m.artista}}</p>
          
          <button ion-button item-end>
              <ion-icon name="trash"></ion-icon>
          </button> 
        </ion-item>
    </ion-list>

</ion-content>
